 :root {
      --dark-blue: #001BB7;
      --teal: #4400ff;
      --orange: #86f779;
      --light-gray: #E9E9E9;
      --text-dark: #2a2a2a;
      --text-light: #e7e4ad;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background: var(--light-gray);
      color: var(--text-dark);
      scroll-behavior: smooth;
    }


